@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: rgb(194, 189, 181);
}

header{
    background-color: rgb(85, 98, 156);
    color: white;
    font-size: 1.3em;
}

header > h1{
    padding: 10px;
    text-align: center;
}

span#menu-burguer{
    background-color: rgb(133, 130, 130);
    display: block; /*ou width: 100vw;*/
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#menu-burguer:hover{
    background-color: rgb(190, 125, 4);
    color: white;
    font-weight: bolder;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(28, 87, 105);
    color: white;
    border-top: 2px solid rgb(187, 178, 178);
    text-align: center;
}

menu > ul > li a:hover{
    background-color: rgb(190, 125, 4);
    font-weight: bolder;
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article>h1{
    color: rgb(187, 147, 18);
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 5px rgb(235, 211, 80);
}
article, h4, h3{
    padding: 10px;
    text-align: center;
}

article>p{
    font-size: 1.4em;
    text-align: left;
    margin-bottom: 20px;
    text-indent: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
