*{
    margin: 0;
    padding: 0;
}
.grid::after{ /*Elimina o espaço vazio após a div.grid. Deste modo não é presico usar o clear: both; no parágrafo.*/
    content: '';
    display: block;
    clear: both;
}
.grid .col{ /*Por padrão as divs têm display: block*/
    /*display: inline-block; O display: inline-block deixa as divs flutuando uma ao lado da outra com uma margem automática de 2px (p/ tirar essa margem entre com margin: -2px), porém ficam em bloco qdo a tela reduz.*/
    width: 300px;
    height: 300px;

    /*margin: -2px;*/
    margin: 20px;
    float: left;
    /*float: right;*/
}
#col1{
    background-color: red;
}
#col2{
    background-color: blue;
}
#col3{
    background-color: green;
}
#col4{
    background-color: yellow;
}
#col5{
    background-color: purple;
}

p{
    /*clear: both;
    clear: left;
    clear: right;
    */
}